@font-face
{
    font-family: Rondalo;
    src: url(../fonts2/RONDALO.ttf);
}

*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container
{
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header rectangulo"
                          "nav nav"
                          "main main"
                          "sidebar sidebar2"
                          "footer footer";
}

body
{
    font-family: Rondalo;
}

h1,h2
{
    text-align: center;
    font-size: 35px;
}

header
{
    grid-area: header;
}

.rectangulo-azul
{
    grid-area: rectangulo;
    background: rgb(7, 9, 52);
    width: 100%;
    height: 55%;
    margin-top: 30px;
}


nav
{
    grid-area: nav;
    background: rgb(7, 9, 52);
}

    nav a
    {
        color: #fff;
        padding: 26px 20px;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }

    nav a:hover
    {
        border-bottom: 4px solid #ff9f1c;
    }

main
{
    grid-area: main;
    background-image: url(../img/conocenos.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

    main .article
    {
        width: 60%;
        height: auto;
        background: rgb(7, 9, 52);
        margin: 20px;
        font-size: 25px;
        color: #fff;
        padding: 30px 30px;
    }

    main p
    {
        margin-top: 10px;
    }

.sidebar
{
    grid-area: sidebar;
}

    .sidebar img
    {
        width: 100%;
        height: auto;
    }

.sidebar2
{
    grid-area: sidebar2;
}

    .contenedor-img
    {
        display: flex;
        justify-content: space-around;
    }

    .contenedor-img img
    {
        margin-top: 40px;
        width: 30%;
    }

    .sidebar2 p
    {
        font-size: 25px;
    }

footer
{
    grid-area: footer;
    background: rgb(174, 175, 168);
    font-size: 18px;
    padding: 26px 20px;
    text-align: center;
}

/* ----------------------Responsive ------------------*/
/* Extra large device(large desktops, 1200px and up) */
@media (max-width: 1200px)
{
    
}

/* large device(desktops, 992px and up) */
@media (max-width: 1048px)
{

}

/* Medium device(tablets, 768px and up) */
@media (max-width: 900px)
{

}

/* small device(landscape, phones, 576px and up) */
@media (max-width: 800px)
{

}

/* small device(landscape, phones, 576px and up) */
@media (max-width: 674px)
{
    
    nav a
    {
        font-size: 16px;
    }

}

@media (max-width: 626px)
{
    nav a
    {
        font-size: 12px;
    }
}

@media (max-width: 529px)
{
    .container
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "header"
                              "nav"
                              "main"
                              "sidebar"
                              "sidebar2"
                              "footer";
    }



    main .article
    {
        width: auto;
        height: auto;
        background: rgb(7, 9, 52);
        margin: 20px;
        font-size: 25px;
        color: #fff;
        /* padding: 30px 30px; */
    }
    
    nav a
    {
        font-size: 10px;
    }

    .rectangulo-azul
    {
        display: none;
    }



    footer 
    {
        font-size: 12px;
    }
}

